.header{
width:100%;
position:absolute;
top:0;
left:0;
z-index:100;
background:#0a0a0a;

padding:25px 60px;
}

.header-container{

display:flex;
align-items:center;
justify-content:space-between;

max-width:1400px;
margin:auto;

}

/* LOGO */

.logo{
display:flex;
align-items:center;
gap:12px;
position:relative;
}

.logo-circle{

width:46px;
height:46px;

background:#00f2ea;
border-radius:50%;

position:absolute;
left:35px;
z-index:0;

}

.logo-text{
display:flex;
flex-direction:column;
line-height:1;
z-index:1;
}

.logo-main{
font-size:28px;
font-weight:700;
letter-spacing:1px;
}

.logo-sub{
font-size:11px;
color:#aaa;
}

.accent{
color:#0a0a0a;
}

/* NAVIGATION */

.nav{

display:flex;
gap:35px;
align-items:center;

}

.nav a{

color:#ddd;
text-decoration:none;
font-size:16px;
display:flex;
align-items:center;
gap:5px;

transition:0.3s;

}

.nav a:hover{

color:#00f2ea;

}

.dropdown svg{

margin-top:3px;

}

/* BUTTON */

.start-btn{

display:flex;
align-items:center;
gap:10px;

padding:14px 28px;

border-radius:40px;

border:1px solid #00f2ea;

background:transparent;

color:white;

font-size:15px;
font-weight:600;

cursor:pointer;

transition:0.3s;

}

.start-btn:hover{

background:#00f2ea;
color:#0a0a0a;

}

/* RESPONSIVE */

@media(max-width:1000px){

.nav{
display:none;
}

}